{% extends 'admin/common/base.html.twig' %}


{% block title %}
    Mise à jour du deuxième bloc
{% endblock %}


{% block body %}
    <div class="displayFlexCenter">
        <div class="container">
            <div>
                <div>
                    <h2 class="articleTitle">{{ blocTwoView.title }}</h2>
                </div>
                {% if blocTwoView.picture %}
                    <div class="displayFlexCenter">
                        <div class="xLarge-6">
                            <img class="imgResp" src="{{ asset('uploads/pictures/' ~ blocTwoView.picture) }}" alt="">
                        </div>
                    </div>
                {% endif %}
                <div class="articleBorderContent">
                    <p>{{ blocTwoView.content | raw}}</p>
                </div>
            </div>
            {#
            <div class="menuCrud displayFlex">
                <div>
                    <p class="btnUpdate"><a href="{{ path('admin_update_article', {'id':article.id}) }}">Modifier</a></p>
                </div>
                <div>
                    <p class="btnDelete"><a href="{{ path('admin_delete_article', {'id':article.id}) }}">Supprimer</a></p>
                </div>
            </div>
            #}

            <div class="displayFlexCenter">
                <div>
                    {{ form_start(formBlocTwo) }}
                    <div>
                        {{ form_label(formBlocTwo.title) }}
                    </div>
                    <div>
                        {{ form_widget(formBlocTwo.title) }}
                    </div>
                    <div>
                        {{ form_errors(formBlocTwo.title) }}
                    </div>
                    <div class="displayFlexCenter">
                        <div>
                            {{ form_label(formBlocTwo.picture) }}
                        </div>
                        <div>
                            {{ form_widget(formBlocTwo.picture) }}
                        </div>
                        <div>
                            {{ form_errors(formBlocTwo.picture) }}
                        </div>
                        <div>
                            {{ form_label(formBlocTwo.altpicture) }}
                        </div>
                        <div>
                            {{ form_widget(formBlocTwo.altpicture) }}
                        </div>
                        <div>
                            {{ form_errors(formBlocTwo.altpicture) }}
                        </div>
                        <div>
                            {{ form_label(formBlocTwo.titlepicture) }}
                        </div>
                        <div>
                            {{ form_widget(formBlocTwo.titlepicture) }}
                        </div>
                        <div>
                            {{ form_errors(formBlocTwo.titlepicture) }}
                        </div>
                    </div>
                    <div>
                        {{ form_label(formBlocTwo.content) }}
                    </div>
                    <div>
                        {{ form_widget(formBlocTwo.content) }}
                    </div>
                    <div>
                        {{ form_errors(formBlocTwo.content) }}
                    </div>
                    <div class="displayFlexCenter">
                        {{ form_widget(formBlocTwo.submit) }}
                    </div>
                    {{ form_end(formBlocTwo) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}