{% extends 'front/common/base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

    <section class="loginSection displayFlexCenter">
        <div class="container loginForm displayFlex">
            <div class="loginFormBorder">
                <div>
                    <h1 class="loginTitle">Se connecter</h1>
                </div>
                <div class="displayFlexCenter">
                    <div class="displayFlexCenter loginFormLogo">
                        <div>
                            <img class="imgResp" src="{{ asset('uploads/pictures/yellowLogo3.png') }}" alt="">
                        </div>
                    </div>
                </div>

                <form method="post">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div>
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                <div class="loginFormCenter">
                    <div class="loginFormFields">
                        <div class="loginFormCenter displayFlex">
                            <input placeholder="Email" type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
                        </div>
                    </div>
                    <div class="loginFormFields">
                        <div class="loginFormCenter displayFlex">
                            <input placeholder="Mot de passe" type="password" name="password" id="inputPassword" class="form-control" required>
                        </div>
                    </div>
                    <div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        #}

                    <div class="displayFlex loginFormBtn">
                        <div class="loginFormCenter displayFlex">
                            <button class="btn1" type="submit">Se connecter</button>
                        </div>
                    </div>
                    <div>
                        <div class="loginFormCenter displayFlex">
                            <a href="{{ path('signin') }}"><p>S'inscrire !</p></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}