{% extends 'front/common/base.html.twig' %}
{% block title %}Se connecter{% endblock %}
{% block body %}
    <section class="loginSection">
        {% if error %}
            <div class="errorLogin textCenter bDesktop12 desktop12 lDesktop12 bTablet12 tablet12 phone12">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
            <div class="alreadyLogin textCenter bDesktop12 desktop12 lDesktop12 bTablet12 tablet12 phone12">Vous êtes connecté en tant que {{ app.user.username }}, <a class="yellowTitle" href="{{ path('app_logout') }}">Logout</a></div>
        {% endif %}
        <div class="formLogin displayFlexCenter">
            <form method="post">
                <h1 class="textCenter loginTitle">connexion</h1>
                <div class="formFields">
                    <div>
                        <label>Email</label>
                    </div>
                    <div>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
                    </div>
                </div>
                <div class="formFields">
                    <div>
                        <label>Mot de passe</label>
                    </div>
                    <div>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>
                </div>
                <div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}
                <div class="formFields displayFlexCenter">
                    <button class="loginConnect btn1" type="submit">Se connecter</button>
                </div>
                <div class="formOu displayFlexCenter">
                    <span class="ou">ou</span>
                </div>
                <div class="formFields loginSignin displayFlexCenter">
                    <button class="textCenter btn1"><a href="{{ path('signin') }}">S'inscrire</a></button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}