<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/admin/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab&display=swap" rel="stylesheet">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header class="adminHeader">
        <div class="displayFlexCenter">
            <nav class="container">
                <ul class="adminHeaderNav">
                    <li><h1><a class="adminTitle" href="{{ path('admin_dashboard') }}">Admin</a></h1></li>
                    <li><a href="{{ path('admin_articles') }}">Articles</a></li>
                    <li><a href="{{ path('admin_healthcare') }}">Soins</a></li>
                    <li><a href="{{ path('admin_categories') }}">Catégories</a></li>
                    <li><a href="{{ path('admin_protocol') }}">Protocole</a></li>
                    <li><h2><a class="adminTitle" href="{{ path('home') }}">Retour Site</a></h2></li>
                </ul>
            </nav>
        </div>
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>
