{% extends 'admin/common/base.html.twig' %}

{% block title %}
    Ajout des soins
{% endblock %}

{% block body %}

    <section class="displayFlexCenter">
        <div class="container">
            <h2 class="insertArticleTitle textCenter">Créer un nouveau soin</h2>
            <div>
                {{ form_start(formHealthcare) }}
                <div>
                    <div>
                        <div>
                            <p class="label">{{ form_label(formHealthcare.wording) }}</p>
                        </div>
                        <div class="widgetTitle">
                            {{ form_widget(formHealthcare.wording) }}
                        </div>
                        <div>
                            {{ form_errors(formHealthcare.wording)}}
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="label">{{ form_label(formHealthcare.picture) }}</p>
                        </div>
                        <div class="widgetSub">
                            {{ form_widget(formHealthcare.picture) }}
                        </div>
                        <div>
                            {{ form_errors(formHealthcare.picture)}}
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="label">{{ form_label(formHealthcare.price) }}</p>
                        </div>
                        <div class="widgetContent">
                            {{ form_widget(formHealthcare.price) }}
                        </div>
                        <div>
                            {{ form_errors(formHealthcare.price)}}
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="label">{{ form_label(formHealthcare.submit) }}</p>
                        </div>
                        <div class="submit">
                            {{ form_widget(formHealthcare.submit, {'attr':{'class':'btn1'}}) }}
                        </div>
                    </div>
                </div>
                {{ form_end(formHealthcare) }}
            </div>
        </div>
    </section>
{% endblock %}