{% extends 'admin/common/base.html.twig' %}

{% block title %}
    Ajout des soins
{% endblock %}

{% block body %}

    <div>
        {{ form_start(formHealthcare) }}
        <div>
            <div>
                <div>
                    {{ form_label(formHealthcare.wording) }}
                </div>
                <div>
                    {{ form_widget(formHealthcare.wording) }}
                </div>
                <div>
                    {{ form_errors(formHealthcare.wording) }}
                </div>
            </div>
            <div>
                <div>
                    {{ form_label(formHealthcare.picture) }}
                </div>
                <div>
                    {{ form_widget(formHealthcare.picture) }}
                </div>
                <div>
                    {{ form_errors(formHealthcare.picture) }}
                </div>
            </div>
            <div>
                <div>
                    {{ form_label(formHealthcare.price) }}
                </div>
                <div>
                    {{ form_widget(formHealthcare.price) }}
                </div>
                <div>
                    {{ form_errors(formHealthcare.price) }}
                </div>
            </div>
            <div>
                <div>
                    {{ form_label(formHealthcare.submit) }}
                </div>
                <div>
                    {{ form_widget(formHealthcare.submit) }}
                </div>
            </div>
        </div>
        {{ form_end(formHealthcare) }}
    </div>

{% endblock %}