{% extends 'admin/common/base.html.twig' %}

{% block title %}
    Utilisateur
{% endblock %}

{% block body %}
    <div>
        <div>
            <p>{{ user.firstname }} {{ user.name }}</p>
        </div>
        <div>
            <p>{{ user.email }}</p>
        </div>
        <div>
            <span>{{ user.phone }}</span>
        </div>
        <div>
            {% for role in user.roles %}
                {{ role }}
            {% endfor %}
        </div>
    </div>
{% endblock %}