{% extends 'admin/common/base.html.twig' %}

{% block title %}
    Utilisateurs
{% endblock %}

{% block body %}
    <div>
        {% for user in users %}
        <div>

            <div>
                <p>{{ user.name }} {{ user.firstname }}</p>
            </div>
            <div>
                <p>{{ user.email }}</p>
            </div>
            <div>
                <p>{{ user.phone }}</p>
            </div>
            <div>
                {% for role in user.roles %}
                <p>{{ role }}</p>
                {% endfor %}
            </div>

        </div>
        {% endfor %}
    </div>
{% endblock %}