{% extends 'front/common/base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    {% if alertMessage %}
        {% for alertMessage in alertMessage %}
            <div class="bDesktop12 desktop12 lDesktop12 bTablet12 tablet12 phone12 alertMessage">
                <div class="bDesktop1 desktop1 lDesktop1 bTablet1 tablet1 phone1">
                    <img class="iconAlertMessage imgResp" src="{{ asset('uploads/pictures/'~alertMessage.picture) }}">
                </div>
                <p class="alertMessageText">{{ alertMessage.wording }}</p>
            </div>
        {% endfor %}
    {% endif %}


<!--
    <a target="_blank"
       href="https://www.doctolib.fr/pedicure-podologue/poissy/gary-leymarie?fbclid=IwAR08MKktbbNWJqiuJEVl89xJ5sW64oEZSBh5FmOe3bK7eYIS932Gxi5bMwY">
        <div class="popUpDocto displayNone">
            <p>Prendre rendez-vous sur</p>
            <p>DOCTOLIB</p>
        </div>
    </a>

    -->




    <main class="backgroundImage displayFlexCenter">
        <div class="bDesktop12 desktop12 lDesktop12 homePresentationWhite">
            <h2 class="name">GARY LEYMARIE</h2>
            <div class="homeCertification">
                <p class="noMargin">Podologue-pédicure D.E</p>
                <p class="noMargin">Podologie du sport D.U</p>
            </div>
            <div class="homePresentationInfos">
                <p class="noMargin">6 rue du petit marché</p>
                <p class="noMargin">78 300 Poissy</p>
            </div>
            <div class="homePresentationInfos">
                <p class="noMargin">Ouvert du Lundi au Samedi de :</p>
                <p class="noMargin">09h30 à 19h</p>
            </div>
        </div>
    </main>

    <section class="homeSectionMargin">
        <div>
            <h2 class="homeTitles textCenter">Les axes de soins</h2>
        </div>
        <div class="displayFlexCenter">
            <div class="container">
                <div class="homeCategories displayFlexEvenly">
                    {% for category in categories %}
                        <a class="homeCategoryDiv bDesktop4 desktop4 lDesktop4 bTablet4 tablet12 phone12" href="{{ path('category', {'id':category.id}) }}">
                            <div>
                                <p class="homeTitlesSub textCenter">{{ category.name }}</p>
                                <div class="homeCategoryInfos">
                                    <img class="homeCategoryImg imgResp tablet10 phone10" src="{{ asset('uploads/pictures/'~category.picture) }}" alt="" title="">
                                </div>
                                <p class="homeCategoryText textJustify">{{ category.wording }}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="homeSectionMargin blueBg">
        <div class="displayFlexCenter">
            <div class="container homeConsultation">
                <h2 class="homeTitles textCenter">{{ blocOne.title }} ?</h2>
                <div class="homeBlocOneDiv displayFlexEvenly">
                    <div class="homeConsultationText bDesktop5 desktop5 lDesktop5 bTablet7 tablet12 phone12">
                        <p class="textJustify">{{ blocOne.content | raw }}</p>
                    </div>
                    {% if blocOne.picture %}
                        <div class="displayFlexCenter bDesktop5 desktop5 lDesktop5 bTablet4 tablet10 phone10">
                            <div class="bDesktop10 desktop10 lDesktop10 tablet12 phone12">
                                <img class="homeBlocOneImg imgResp" src="{{ asset('uploads/pictures/'~blocOne.picture) }}" alt="{{ blocOne.altpicture }}" title="{{ blocOne.titlepicture }}">
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


    <section class="homeSectionMargin">
        <h2 class="homeTitles textCenter">Les derniers articles</h2>
        <div class="displayFlexCenter">
            <div class="container">
                <div class="displayFlexEvenly homeArticlesWrap">
                    {% for article in lastarticles %}
                        <a class="homeArticleDiv bDesktop4 desktop4 lDesktop4 bTablet4 tablet10 phone10" href="{{ path('article', {'id':article.id}) }}">
                            <div class="textAlignResp">
                                <img class="homeArticleImg tablet12 phone12 imgResp" src="{{ asset('uploads/pictures/'~article.picture) }}" alt="{{ article.altpicture }}" title="{{ article.titlepicture }}">
                            </div>
                        <div class="homeArticleInfos">
                                <h3>{{ article.title }}</h3>
                                <p>{{ article.subtitles }}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="seeMoreArticles displayFlexCenter">
                    <a href="{{ path('articles') }}"><p class="btn1">Voir les articles</p></a>
                </div>
            </div>
        </div>
    </section>

    <section class="homeSectionMargin blueBg">
        <div class="displayFlexCenter">
            <div class="container homeTarifs">
                <h2 class="homeTitles textCenter">Tarifs</h2>
                <div class="homeTarifsResp displayFlexAround">
                    {% for tarif in tarifs %}
                        {% if tarif.active %}
                        <div class="homeTarifsDiv tablet12 phone12">
                            <p class="homeTitlesSub yellowTitle">{{ tarif.name }} : </p>
                            {% for healthcare in healthcare %}
                                {% if healthcare.category.name == tarif.name %}
                                    <p class="homeTarifsText">{{ healthcare.wording }} : <span class="homeTarifsText">{{ healthcare.price }} €</span></p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="homeSectionMargin">
        <div class="displayFlexCenter">
            <div class="container">
                <h2 class="homeTitles textCenter">{{ blocTwo.title }} ?</h2>
                <div class="homeBlocTwoDiv displayFlexEvenly">
                    {% if blocTwo.picture %}
                        <div class="displayFlexCenter bDesktop5 desktop5 lDesktop5 bTablet4 tablet10 phone10">
                            <div class="bDesktop10 desktop10 lDesktop10">
                                <img class="homeBlocTwoImg imgResp" src="{{ asset('uploads/pictures/'~blocTwo.picture) }}" alt="{{ blocTwo.altpicture }}" title="{{ blocTwo.titlepicture }}">
                            </div>
                        </div>
                    {% endif %}
                    <div class="bDesktop5 desktop5 lDesktop5 bTablet7 tablet12 phone12">
                        <p class="textJustify">{{ blocTwo.content | raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}