{% extends 'front/common/base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <main class="backgroundImage">
        <div>
            <div class="filterHome">
                <h1 class="gary">Gary Leymarie</h1>
                <h3 class="profession">Podologue-pédicure</h3>
            </div>
            <div>
                <p class="filterText1">Diplômé d'Etat en 2011</p>
                <p class="filterText2">6 rue du Petit Marché, 78 300 Poissy</p>
                <p class="filterText3">Ouvert du Lundi au vendredi de :</p>
                <p class="filterText4">09h00 à 19h00</p>
            </div>
        </div>
    </main>

    <a target="_blank" href="https://www.doctolib.fr/pedicure-podologue/poissy/gary-leymarie?fbclid=IwAR08MKktbbNWJqiuJEVl89xJ5sW64oEZSBh5FmOe3bK7eYIS932Gxi5bMwY">
        <div class="popup displayNone">
            <p>Prendre rendez-vous sur</p>
            <p>DOCTOLIB</p>
        </div>
    </a>

    <section>
        <h2 class="homeTitle">Accueil</h2>
    </section>

    <section class="healthcareMainSection test">
        <div class="container">
            <div class="borderHealthcare">
                <h2 class="healthcareTitle yellowTitle">Les soins proposés</h2>
            </div>
            <div>
                <div class="healthcareSection">
                    {% for healthcare in healthcare %}
                    <div>
                        <div>
                            <div class="imgHomePicture">
                                <img class="imgresp yellowBorder imgHome" src="{{ asset('uploads/healthcare/'~ healthcare.picture) }}" alt="">
                            </div>
                            <div>
                                <p>{{ healthcare.wording }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="blueBg">
        <div class="container test">
            <div class="borderPodology">
                <h2 class="podologyTitle">La podologie</h2>
            </div>
            <div class="podologyResume">
                <div class="podologyContent">
                    <div>
                        <p>
                            Le sportif occasionnel, régulier ou compétiteur se doit de pratiquer son activité avec un équipement adéquate afin d’éviter toute pathologie pouvant devenir handicapante.
                        </p>
                        <p>
                            La chaussure et le pied jouent donc un rôle majeur dans de nombreux sports, puisqu’ils sont le lien direct entre le corps et le sol.
                        </p>
                        <p>
                            Le pied est composé de 28 os et 22 articulations (cheville comprise) et à un rôle d’amortissement, d’équilibre, de stabilité et de propulsion, ceci grâce à sa structure osseuse, ligamentaire et musculaire qui fonctionne de façon unie et coordonnée.
                        </p>
                        <p>
                            La chaussure protège, amortie, stabilise et oriente le geste sportif. Son choix est primordial et toute erreur de chaussage peut être fatale, on parle alors de technopathie.
                        </p>
                        <p>
                            Cependant, le rôle du podologue du sport ne se résume pas seulement à l’analyse du pied ou de la chaussure En effet le pied peut être à l’origine de nombreuses pathologies sus jacente (genoux, hanches, dos etc…) et vis versa.
                        </p>
                        <p>
                            C’est pourquoi l’analyse globale de la posture du patient et l’étude précise du geste sportif à l’aide d’outils d’analyse statique et dynamique est fondamental dans la compréhension de la pathologie du sportif (tapis de course, caméra, capteurs de marche, plateforme baropodométrique).
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="articleMainSection">
        <div class="container test">
            <div class="articlescenter">
                <h2 class="articlesTitle yellowTitle">Les derniers articles</h2>
            </div>
            <div class="contentCenter">

                {% for article in lastarticles %}
                <div>
                    <div>
                        <h3>{{ article.title }}</h3>
                    </div>
                    <div class="imgHomeArticles">
                        <img  class="imgresp imgHome yellowBorder" src="{{ asset('uploads/pictures/'~ article.picture) }}" alt="">
                    </div>
                    <div>
                        <p>{{ article.subtitles }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}