{% extends 'front/common/base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    {% if alertMessage %}
        {% for alertMessage in alertMessage %}
            <div class="bDesktop12 desktop12 lDesktop12 bTablet12 tablet12 phone12 alertMessage">
                <div class="bDesktop1 desktop1 lDesktop1">
                    <img class="iconAlertMessage imgResp" src="{{ asset('uploads/pictures/'~alertMessage.picture) }}">
                </div>
                <p>{{ alertMessage.wording }}</p>
            </div>
        {% endfor %}
    {% endif %}


<!--
    <a target="_blank"
       href="https://www.doctolib.fr/pedicure-podologue/poissy/gary-leymarie?fbclid=IwAR08MKktbbNWJqiuJEVl89xJ5sW64oEZSBh5FmOe3bK7eYIS932Gxi5bMwY">
        <div class="popUpDocto displayNone">
            <p>Prendre rendez-vous sur</p>
            <p>DOCTOLIB</p>
        </div>
    </a>

    --!>




    <main class="backgroundImage displayFlexCenter">
        <div class="bDesktop3 desktop4 lDesktop4 homePresentation">
            <div class="bDesktop12 desktop12 lDesktop12 homePresentationGrey">
                <h1 class="name">GARY LEYMARIE</h1>
                <div class="homeCertification">
                    <h2>Podologue-pédicure D.E</h2>
                    <h3>Podologie du sport D.U</h3>
                </div>
                <p class="noMargin">6 rue du petit marché</p>
                <p class="noMargin">78 300 Poissy</p>
                <p class="noMargin">Ouvert du Lundi au Samedi de :</p>
                <p class="noMargin">09h30 à 19h</p>
            </div>
        </div>
    </main>

    <section class="homeSection">
        <div>
            <h4 class="homeTitles textCenter">Les axes de soins</h4>
        </div>
        <div class="displayFlexCenter">
            <div class="container displayFlexBetween">
                {% for category in categories %}
                    <div class="homeCategoryDiv bDesktop3 desktop3 lDesktop3">
                        <h4 class="homeTitles textCenter">{{ category.name }}</h4>
                        <div>
                            <img class="homeCategoryImg imgResp" src="{{ asset('uploads/pictures/'~category.picture) }}" alt="" title="">
                        </div>
                        <p class="homeCategoryText textJustify">{{ category.wording }}</p>
                        <div class="displayFlexCenter">
                            <p class="btn1">Voir</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section>
        <div class="displayFlexCenter">
            <div class="container homeConsultation">
                <h4 class="homeTitles textCenter">Dois-je consulter ?</h4>
                <div class="homeConsultationText">
                    <p class="textJustify">Vous souhaitez effectuer des soins en Pédicurie ou en Podologie ?</p>
                    <p class="textJustify">Votre consultation concerne : les verrues, les ongles incarnés, les cors, mycoses, durillons ou la réalisation de semelles orthopédiques ?</p>
                    <p class="textJustify">Votre consultation concerne la réalisation de semelles orthopédiques, l’esthétique de vos pieds, de vos ongles ? Vous souhaitez soigner vos cors, durillons,mycoses ? Contactez votre spécialiste pour alléger vos douleurs ! Gary Leymarie est disponible du lundi au samedi de 9H30 à 19h00 pour vos consultations en Pédicurie et Podologie.</p>
                    <P class="textJustify">Les visites peuvent s’effectuer au cabinet au : 6 rue du petit Marché, 78 300 Poissy.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="homeSection homeArticle displayFlexCenter">
        <div class="container">
            <div>
                <h4 class="homeTitles textCenter">Les derniers articles</h4>
            </div>
            <div class="displayFlexBetween">
                {% for article in lastarticles %}
                    <div class="bDesktop3 desktop3 lDesktop3">
                        <div>
                            <h5 class="homeArticlesTitles">{{ article.title }}</h5>
                        </div>
                        <div class="bDesktop12 desktop12 lDesktop12">
                            <img class="homeArticleImg" src="{{ asset('uploads/pictures/'~ article.picture) }}" alt="">
                        </div>
                        <div>
                            <p>{{ article.subtitles }}</p>
                        </div>
                        <div class="displayFlexCenter">
                            <p class="btn1 homeArticleBtn"><a href="{{ path('article', {'id':article.id}) }}">Lire l'article</a></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section>
        <div class="displayFlexCenter">
            <div class="container homeTarifs">
                <h4 class="homeTitles textCenter">Tarifs</h4>
                <div class="displayFlexAround">
                    {% for category in categories %}
                        <div>
                            <p>{{ category.name }} :</p>
                            <p>150 €</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="homeSection carteVitale">
        <h4 class="homeTitles textCenter">Le saviez-vous ?</h4>
        <div class="displayFlexCenter">
            <div class="container">
                <div class="displayFlexCenter">
                    <div class="bDesktop1 desktop1 lDesktop1">
                        <img class="imgResp" src="{{ asset('uploads/pictures/carteVitale.jpg') }}" alt="" title="">
                    </div>
                </div>
                <p class="textJustify">
                    Suivant votre mutuelle, votre séance peut être prise en charge partiellement ou totalement.
                    Je vous invite à vous rapprocher de votre mutuelle ou à me contacter pour connaître les modalités de remboursement.
                    Le cabinet est équipé du boitier Carte Vitale pour la télétransmission des feuilles de soins.
                    La CMU n’est pas pris en charge
                </p>
                <p class="textJustify">
                    Penser à amener votre Carte Vitale pour la télé-transmission des feuilles de soins.
                </p>
            </div>
        </div>
    </section>

{% endblock %}