{% extends 'front/common/base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <main class="backgroundImage">
        <div class="filterHome">
            <h1 class="gary">Gary Leymarie</h1>
            <p>Podologue à Poissy</p>
            <p>6 rue du Petit Marché, 78 300</p>
            <p>Diplômé d'Etat de pédicure-podologique en 2011</p>
            <p>Ouvert du Lundi au vendredi de :</p>
            <p>09h00 à 19h00</p>
        </div>
    </main>

    <div class="popup displayNone">
        <p>Prendre rendez-vous sur Doctolib</p>
        <a target="_blank" href="https://www.doctolib.fr/pedicure-podologue/poissy/gary-leymarie?fbclid=IwAR08MKktbbNWJqiuJEVl89xJ5sW64oEZSBh5FmOe3bK7eYIS932Gxi5bMwY"><p>Cliquez ici !</p></a>
    </div>

    <section>
        <h2 class="homeTitle">Accueil</h2>
    </section>

    <section class="healthcareMainSection">
        <div class="container">
            <div class="borderHealthcare">
                <h2 class="healthcareTitle yellowTitle">Les soins proposés</h2>
            </div>
            <div class="healthcareSection">
                    <div>
                        <div>
                            <div class="imgHomeChild">
                                <img class="imgresp yellowBorder imgHome" src="{{ asset('uploads/pictures/cabinet4.jpg') }}" alt="">
                            </div>
                            <div>
                                <p>Podologie de l'enfant</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="imgHomeSport">
                                <img class="imgresp yellowBorder imgHome" src="{{ asset('uploads/pictures/cabinet3.jpg') }}" alt="">
                            </div>
                            <div>
                                <p>Podologie du sport</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="imgHomeSneakers">
                                <img class="imgresp yellowBorder imgHome" src="{{ asset('uploads/pictures/cabinet2.jpg') }}" alt="">
                            </div>
                            <div>
                                <p>Création de semelles</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <section class="blueBg">
        <div class="container">
            <div class="borderPodology">
                <h2 class="podologyTitle">La podologie</h2>
            </div>
            <div class="podologyResume">
                <div class="podologyContent">
                    <div>
                        <p>
                            Le sportif occasionnel, régulier ou compétiteur se doit de pratiquer son activité avec un équipement adéquate afin d’éviter toute pathologie pouvant devenir handicapante.
                        </p>
                        <p>
                            La chaussure et le pied jouent donc un rôle majeur dans de nombreux sports, puisqu’ils sont le lien direct entre le corps et le sol.
                        </p>
                        <p>
                            Le pied est composé de 28 os et 22 articulations (cheville comprise) et à un rôle d’amortissement, d’équilibre, de stabilité et de propulsion, ceci grâce à sa structure osseuse, ligamentaire et musculaire qui fonctionne de façon unie et coordonnée.
                        </p>
                        <p>
                            La chaussure protège, amortie, stabilise et oriente le geste sportif. Son choix est primordial et toute erreur de chaussage peut être fatale, on parle alors de technopathie.
                        </p>
                        <p>
                            Cependant, le rôle du podologue du sport ne se résume pas seulement à l’analyse du pied ou de la chaussure En effet le pied peut être à l’origine de nombreuses pathologies sus jacente (genoux, hanches, dos etc…) et vis versa.
                        </p>
                        <p>
                            C’est pourquoi l’analyse globale de la posture du patient et l’étude précise du geste sportif à l’aide d’outils d’analyse statique et dynamique est fondamental dans la compréhension de la pathologie du sportif (tapis de course, caméra, capteurs de marche, plateforme baropodométrique).
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="articleMainSection">
        <div class="container">
            <div class="articlescenter">
                <h2 class="articlesTitle yellowTitle">Les derniers articles</h2>
            </div>
            <div class="contentCenter">
                <div>
                    <div>
                        <h3>Basket-ball</h3>
                    </div>
                    <div class="imgHomeArticles">
                        <img  class="imgresp imgHome yellowBorder" src="{{ asset('uploads/pictures/article2.jpg') }}" alt="">
                    </div>
                    <div>
                        <p>Les bonne pratiques</p>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>La randonnée</h3>
                    </div>
                    <div class="imgHomeArticles">
                        <img  class="imgresp imgHome yellowBorder" src="{{ asset('uploads/pictures/article1.jpg') }}" alt="">
                    </div>
                    <div>
                        <p>L'équipement à avoir</p>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>La vie d'un podologue</h3>
                    </div>
                    <div class="imgHomeArticles">
                        <img  class="imgresp imgHome yellowBorder" src="{{ asset('uploads/pictures/cabinet5.jpg') }}" alt="">
                    </div>
                    <div>
                        <p>C'est pas l'pied ! </p>
                    </div>
                </div>




            </div>
        </div>
    </section>
{% endblock %}