{% extends 'front/common/base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    {% if alertMessage %}
        {% for alertMessage in alertMessage %}
            <div class="bDesktop12 desktop12 lDesktop12 bTablet12 tablet12 phone12 alertMessage">
                <div class="bDesktop1 desktop1 lDesktop1">
                    <img class="iconAlertMessage imgResp" src="{{ asset('uploads/pictures/'~alertMessage.picture) }}">
                </div>
                <p>{{ alertMessage.wording }}</p>
            </div>
        {% endfor %}
    {% endif %}


<!--
    <a target="_blank"
       href="https://www.doctolib.fr/pedicure-podologue/poissy/gary-leymarie?fbclid=IwAR08MKktbbNWJqiuJEVl89xJ5sW64oEZSBh5FmOe3bK7eYIS932Gxi5bMwY">
        <div class="popUpDocto displayNone">
            <p>Prendre rendez-vous sur</p>
            <p>DOCTOLIB</p>
        </div>
    </a>

    -->




    <main class="backgroundImage displayFlexCenter">
        <div class="bDesktop3 desktop4 lDesktop4 homePresentation">
            <div class="bDesktop12 desktop12 lDesktop12 homePresentationWhite">
                <h1 class="name">GARY LEYMARIE</h1>
                <div class="homeCertification">
                    <h2>Podologue-pédicure D.E</h2>
                    <h3>Podologie du sport D.U</h3>
                </div>
                <p class="noMargin">6 rue du petit marché</p>
                <p class="noMargin">78 300 Poissy</p>
                <p class="noMargin">Ouvert du Lundi au Samedi de :</p>
                <p class="noMargin">09h30 à 19h</p>
            </div>
        </div>
    </main>

    <section class="homeSection">
        <div>
            <h4 class="homeTitles textCenter">Les axes de soins</h4>
        </div>
        <div class="displayFlexCenter">
            <div class="container displayFlexBetween">
                {% for category in categories %}
                    <div class="homeCategoryDiv bDesktop3 desktop3 lDesktop3">
                        <h4 class="homeTitles textCenter">{{ category.name }}</h4>
                        <div>
                            <img class="homeCategoryImg imgResp" src="{{ asset('uploads/pictures/'~category.picture) }}" alt="" title="">
                        </div>
                        <p class="homeCategoryText textJustify">{{ category.wording }}</p>
                        <div class="displayFlexCenter">
                            <p class="btn1">Voir</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section>
        <div class="displayFlexCenter blueBg">
            <div class="container homeConsultation">
                <h4 class="homeTitles textCenter">{{ blocOne.title }} ?</h4>
                {% if blocOne.picture %}
                    <div class="displayFlexCenter">
                        <div class="bDesktop5 desktop5 lDesktop5">
                            <img class="imgResp" src="{{ asset('uploads/pictures/'~blocOne.picture) }}" alt="{{ blocOne.altpicture }}" title="{{ blocOne.titlepicture }}">
                        </div>
                    </div>
                {% endif %}
                <div class="homeConsultationText">
                    <p class="textJustify">{{ blocOne.content | raw }}</p>
                </div>
            </div>
        </div>
    </section>


    <section class="homeSection homeArticle displayFlexCenter">
        <div class="container">
            <div>
                <h4 class="homeTitles textCenter">Les derniers articles</h4>
            </div>
            <div class="displayFlexBetween">
                {% for article in lastarticles %}
                    <div class="bDesktop3 desktop3 lDesktop3">
                        <div>
                            <h5 class="homeArticlesTitles">{{ article.title }}</h5>
                        </div>
                        <div class="bDesktop12 desktop12 lDesktop12">
                            <img class="homeArticleImg" src="{{ asset('uploads/pictures/'~ article.picture) }}" alt="">
                        </div>
                        <div>
                            <p>{{ article.subtitles }}</p>
                        </div>
                        <div class="displayFlexCenter">
                            <p class="btn1 homeArticleBtn"><a href="{{ path('article', {'id':article.id}) }}">Lire l'article</a></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="homeSectionBorder">
        <div class="blueBg displayFlexCenter">
            <div class="container homeTarifs">
                <h4 class="homeTitles textCenter">Tarifs</h4>
                <div class="displayFlexAround">
                    {% for tarif in tarifs %}
                        {% if tarif.active %}
                        <div>
                            <p class="homeTitles yellowTitle">{{ tarif.name }} : </p>
                            {% for healthcare in healthcare %}
                                {% if healthcare.category.name == tarif.name %}
                                    <p>{{ healthcare.wording }} : <span>{{ healthcare.price }} €</span></p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="homeSection carteVitale">
        <h4 class="homeTitles textCenter">{{ blocTwo.title }}</h4>
        <div class="displayFlexCenter">
            <div class="container">
                {% if blocTwo.picture %}
                    <div class="displayFlexCenter">
                        <div class="bDesktop5 desktop5 lDesktop5">
                            <img class="imgResp" src="{{ asset('uploads/pictures/'~blocTwo.picture) }}" alt="{{ blocTwo.altpicture }}" title="{{ blocTwo.titlepicture }}">
                        </div>
                    </div>
                {% endif %}
                <p class="textJustify">{{ blocTwo.content | raw }}</p>
            </div>
        </div>
    </section>

{% endblock %}