{% extends 'admin/common/base.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <main class="adminMainDashboard">
        <p class="textCenter infoGary">Message qui apparait juste en dessous du menu à l'accueil du site pour prévenir de tel ou tel soucis (ex: port du masque obligatoire ou vacances) </p>
        {% if alertMessage %}
            {% for alertMessage in alertMessage %}
                <div class="displayFlexCenter">
                    <div class="container displayFlexCenter">
                        <div class="adminAlertMessage displayFlexCenter">
                            <div class="bDesktop1 desktop1 lDesktop1">
                                <img class="imgResp" src="{{ asset('uploads/pictures/'~alertMessage.picture) }}">
                            </div>
                            <p>{{ alertMessage.wording }}</p>
                        </div>
                    </div>
                </div>
                <div class="displayFlexCenter">
                    <div class="displayFlexCenter">
                        <p class="btnUpdate"><a href="{{ path('admin_update_alert_message', {'id':alertMessage.id}) }}">Modifier</a></p>
                    </div>
                    <div class="displayFlexCenter">
                        <p class="btnDelete"><a href="{{ path('admin_delete_alert_message', {'id':alertMessage.id}) }}">Supprimer</a></p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="displayFlexCenter">
                <p class="textCenter">Aucun message d'alerte n'est affiché</p>
            </div>
            <div class="displayFlexCenter">
                <p class="btn1"><a href="{{ path('admin_insert_alert_message') }}">Créer message</a></p>
            </div>
        {% endif %}
    </main>

    <section class="adminDashBoard">
        <div class="adminDashBoardDiv bDesktop12 desktop12 lDesktop12">
            <div class="adminDashBoardBorder bDesktop2 desktop2 lDesktop2">
                <h2>Articles</h2>
                <p>{{ articles | length }}</p>
                <div class="displayFlexCenter">
                    <p class="btn1"><a href="{{ path('admin_articles') }}">Voir les articles</a></p>
                </div>
                <div class="displayFlexCenter">
                    <p class="btn1"><a href="{{ path('admin_insert_article') }}">Créer un article</a></p>
                </div>
            </div>
            <div class="adminDashBoardBorder bDesktop2 desktop2 lDesktop2">
                <h2>Soins</h2>
                <p>{{ healthcare | length }}</p>
                <div class="displayFlexCenter">
                    <p class="btn1"><a href="{{ path('admin_healthcare') }}">Voir les soins</a></p>
                </div>
                <div class="displayFlexCenter">
                    <p class="btn1"><a href="{{ path('admin_insert_healthcare') }}">Créer un soin</a></p>
                </div>
            </div>
            <div class="adminDashBoardBorder bDesktop2 desktop2 lDesktop2">
                <h2>Catégorie</h2>
                <p>{{ categories | length }}</p>
                <div class="displayFlexCenter">
                    <p class="btn1"><a href="{{ path('admin_categories') }}">Voir les catégories</a></p>
                </div>
                <div class="displayFlexCenter">
                    <p class="btn1"><a href="{{ path('admin_insert_category') }}">Créer une catégorie</a></p>
                </div>
            </div>
            <div class="adminDashBoardBorder bDesktop2 desktop2 lDesktop2">
                <h2>Protocole</h2>
                <p>{{ protocol | length }}</p>
                <div class="displayFlexCenter">
                    <p class="btn1"><a href="{{ path('admin_protocol') }}">Voir le protocol</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}