{% extends 'admin/common/base.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <section class="displayFlexCenter">
        <div class="container">
            <div class="dashboard displayFlex">
                <a class="xLarge-5 large-5" href="{{ path('admin_articles') }}">
                    <div class="dashboardBdd">
                    <p class="dashboardNb">{{ articles | length }}</p>
                    <h2>Articles</h2>
                </div>
                </a>
                <a class="xLarge-5 large-5" href="{{ path('admin_healthcare') }}">
                    <div class="dashboardBdd">
                        <p class="dashboardNb">{{ healthcare | length }}</p>
                        <h2>Soins</h2>
                    </div>
                </a>
                <a class="large-5 xLarge-5">
                    <div class="dashboardBdd">
                        <p class="dashboardNb">{{ commentaries | length }}</p>
                        <h2>Commentaires</h2>
                    </div>
                </a>
                <a class="xLarge-5 large-5" href="{{ path('admin_users') }}">
                    <div class="dashboardBdd">
                        <p class="dashboardNb">{{ users | length }}</p>
                        <h2>Utilisateurs</h2>
                    </div>
                </a>
            </div>
        </div>
    </section>
{% endblock %}