
{% block body %}
    <div class="displayFlexCenter">
        <div class="articlesSearch container">
            <form name="search" action="{{ path('search_actuality') }}" method="get">
                <input type="search" name="search">
                <input type="submit" value="Rechercher">
            </form>
        </div>
    </div>
    <div class="articlesArticle">
        {% set count = 0 %}
        {% for article in articles %}
            {% set count = count + 1 %}
            {% if count is odd %}
                <div class="articlesOdd">
                    <div class="displayFlexCenter">
                        <div class="container">
                            <div class="displayFlexBetween articlesOrderResp">
                                <div class="articlesTopLeft xLarge-8">
                                    <div>
                                        <h2 class="fading">{{ article.title }}</h2>
                                        <span>{{ article.user.firstname }} {{ article.user.name}}</span> - <span>{{ article.date|date('d m Y') }}</span>
                                    </div>
                                    <div class="articlesSubtitles fading">
                                        <span>{{ article.subtitles }}</span>
                                    </div>
                                    <div class="fading articlesBtnResp">
                                        <a href="{{ path('article', {'id':article.id}) }}"><div class="btn1">Voir l'article</div></a>
                                    </div>
                                </div>
                                <div class="articlesTopRight fading">
                                    {% if article.picture %}
                                        <img class="yellowBorder imgResp" src="{{ asset('uploads/pictures/' ~ article.picture) }}" alt="">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="articlesEven">
                    <div class="displayFlexCenter">
                        <div class="container">
                            <div class="displayFlexBetween articlesOrderResp">
                                <div class="articlesTopRight fading">
                                    {% if article.picture %}
                                        <img class="yellowBorder imgResp" src="{{ asset('uploads/pictures/' ~ article.picture) }}" alt="">
                                    {% endif %}
                                </div>
                                <div class="articlesTopLeftEven articlesTopRight xLarge-8">
                                    <div>
                                        <h2 class="articlesTitlesEven fading">{{ article.title }}</h2>
                                        <span>{{ article.user.firstname }} {{ article.user.name}}</span> - <span>{{ article.date|date('d m Y') }}</span>
                                    </div>
                                    <div class="articlesSubtitles fading">
                                        <span>{{ article.subtitles }}</span>
                                    </div>
                                    <div class="displayFlex btnAlign fading articlesBtnResp">
                                        <a href="{{ path('article', {'id':article.id}) }}"><div class="btn2">Voir l'article</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}