{% extends 'front/common/base.html.twig' %}

{% block title %}
    Article
{% endblock %}

{% block body %}
    <main>
        <div class="displayFlexCenter">
            <div class="container">
                <div class="searchArticleByName">
                    <form name="search" action="{{ path('search_actuality') }}" method="get">
                        <input type="search" name="search" />
                        <input type="submit" value="Rechercher" />
                    </form>
                </div>
            </div>
        </div>
        <div class="displayFlexCenter">
            <div class="container">
                <div>
                    <h2 class="articleTitle textCenter">{{ article.title }}</h2>
                    <div>
                        <div class="articleImg bDesktop6 desktop6 lDesktop6 bTablet6 tablet12 phone12">
                            <div class="articleImgDiv">
                                <img class="imgResp" src="{{ asset('uploads/pictures/'~article.picture) }}" alt="{{ article.altpicture }}" title="{{ article.titlepicture }}">
                            </div>
                            <div>
                                <p>{{ article.subtitles }}</p>
                                <p>Rédigé par {{ article.user.firstname }} {{ article.user.name }} le {{ article.date | date('d m Y') }}</p>
                            </div>
                        </div>
                        <div class="textJustify">
                            <p>{{ article.content | raw}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
            {#
            <div class="articleForm">
                {% if app.user %}
                    <div class="fading">
                        {{ form_start(formCommentary) }}
                        <div>
                            <div>
                                {{ form_label(formCommentary.comment) }}
                            </div>
                            <div class="articleCommentForm">
                                {{ form_widget(formCommentary.comment) }}
                            </div>
                            <div>
                                {{ form_errors(formCommentary.comment) }}
                            </div>
                        </div>
                        <div class="articleBtn displayFlexCenter">
                            <div>
                                {{ form_label(formCommentary.submit) }}
                            </div>
                            <div>
                                {{ form_widget(formCommentary.submit, {'attr':{'class':'btn1'}}) }}
                            </div>
                        </div>
                        {{ form_end(formCommentary) }}
                    </div>
                {% endif %}

                <div>
                    {% if commentaries %}
                        <h3 class="textCenter">Commentaires</h3>
                    {% endif %}
                    {% for commentary in commentaries %}
                        <div class="articleFormCommentary">
                            <div class="fading">
                                <p class="articleComment">“{{ commentary.comment | nl2br}}”<p>
                            </div>
                            <div class="articleAuthorRight fading">
                                <span class="articleFormAuthor">{{ commentary.user.firstname }} {{ commentary.user.name }} -</span>
                                <span class="articleFormDate">{{ commentary.date|date('d m Y') }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            #}

{% endblock %}