{% extends 'front/common/base.html.twig' %}

{% block title %}
    Article
{% endblock %}

{% block body %}
    <div class="displayflexcenter">
        <div class="container">
            <div>
                <div>
                    <h2 class="articleTitle">{{ article.title }}</h2>
                </div>
                <div class="displayflexcenter">
                    <img class="imgresp xLarge-6" src="{{ asset('uploads/pictures/' ~ article.picture) }}" alt="">
                </div>
                <div class="displayflexcenter">
                    <div>
                        <p>{{ article.user.firstname }} {{ article.user.name }}</p>
                    </div>
                    <div>
                        <p> - </p>
                    </div>
                    <div>
                        <p>{{ article.date|date('d m Y') }}</p>
                    </div>
                </div>
                <div class="articleBorderContent">
                    <p>{{ article.content }}</p>
                </div>
            </div>
            <div class="articleForm">
                {% if app.user %}
                    <div>
                        {% form_theme formCommentary 'form_table_layout.html.twig' %}
                        {{ form_start(formCommentary) }}
                        <div>
                            <div>
                                {{ form_label(formCommentary.comment) }}
                            </div>
                            <div>
                                {{ form_widget(formCommentary.comment) }}
                            </div>
                            <div>
                                {{ form_errors(formCommentary.comment) }}
                            </div>
                        </div>
                        <div>
                            <div>
                                {{ form_label(formCommentary.submit) }}
                            </div>
                            <div>
                                {{ form_widget(formCommentary.submit) }}
                            </div>
                        </div>
                        {{ form_end(formCommentary) }}
                    </div>
                {% endif %}

                <div>
                    {% for commentary in commentaries %}
                        <div class="articleFormCommentary">
                            <div>
                                <p>“{{ commentary.comment }}”<p>
                            </div>
                            <div class="articleAuthorRight">
                                <span class="articleFormAuthor">{{ commentary.user.firstname }} {{ commentary.user.name }}</span>
                            </div>
                            <div class="articleDateRight">
                                <span class="articleFormDate">{{ commentary.date|date('d m Y') }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}