{% extends 'front/common/base.html.twig' %}

{% block title %}
    Articles
{% endblock %}


{% block body %}

    <main class="displayFlexCenter">
        <div class="container">
            <div class="searchArticleByName">
                <form name="search" action="{{ path('search_actuality') }}" method="get">
                    <input type="search" name="search" />
                    <input type="submit" value="Rechercher" />
                </form>
            </div>
        </div>
    </main>

    <section>
        {% for article in articles %}
                <div class="articlesLoop displayFlexCenter">
                    <div class="container displayFlexBetween">
                        <div class="articlesInfos bDesktop6 desktop6 lDesktop6 bTablet6 phone12 phone12">
                            <h2>{{ article.title }}</h2>
                            <div>
                                <p>{{ article.subtitles }}</p>
                                <p>{{ article.user.firstname }} {{ article.user.name }} - {{ article.date |date('d m Y') }}</p>
                            </div>
                            <p class="articleContent">{{ article.content }}</p>
                            <div class="button">
                                <a href="{{ path('article', {'id':article.id}) }}"><p class="btn1">Voir l'article</p></a>
                            </div>
                        </div>
                        <div class="articlesImgDiv bDesktop5 desktop5 lDesktop5 bTablet5 phone12 tablet12">
                            <img class="imgResp" src="{{ asset('uploads/pictures/' ~ article.picture) }}" alt="" title="">
                        </div>
                    </div>
                </div>
        {% endfor %}
    </section>

{% endblock %}