{% extends 'front/common/base.html.twig' %}

{% block title %}
    Recherche des actualités
{% endblock %}


{% block body %}

    <div class="displayFlexCenter">
        <div class="container">
            {% for article in articles %}
            <div>
                <div class="fading">
                    <h2 class="articleTitle">{{ article.title }}</h2>
                </div>
                <div class="displayFlexCenter">
                    <div class="displayFlexCenter articleImg">
                        <img class="imgResp xLarge-6" src="{{ asset('uploads/pictures/' ~ article.picture) }}" alt="">
                    </div>
                </div>
                <div class="displayFlexCenter">
                    <div class="fading">
                        <p>Par {{ article.user.firstname }} {{ article.user.name }}, publié le {{ article.date|date('d-m-Y')}} </p>
                    </div>
                </div>
                <div class="articleBorderContent fading">
                    <p class="articleContent">{{ article.content | nl2br}}</p>
                </div>
            </div>
            <div class="articleForm">
                {% if app.user %}
                    <div class="fading">
                        {{ form_start(formCommentary) }}
                        <div>
                            <div>
                                {{ form_label(formCommentary.comment) }}
                            </div>
                            <div class="articleCommentForm">
                                {{ form_widget(formCommentary.comment) }}
                            </div>
                            <div>
                                {{ form_errors(formCommentary.comment) }}
                            </div>
                        </div>
                        <div class="articleBtn displayFlexCenter">
                            <div>
                                {{ form_label(formCommentary.submit) }}
                            </div>
                            <div>
                                {{ form_widget(formCommentary.submit, {'attr':{'class':'btn1'}}) }}
                            </div>
                        </div>
                        {{ form_end(formCommentary) }}
                    </div>
                {% endif %}

                <div>
                    {% for commentary in commentaries %}
                        <div class="articleFormCommentary">
                            <div class="fading">
                                <p class="articleComment">“{{ commentary.comment | nl2br}}”<p>
                            </div>
                            <div class="articleAuthorRight fading">
                                <span class="articleFormAuthor">{{ commentary.user.firstname }} {{ commentary.user.name }} -</span>
                                <span class="articleFormDate">{{ commentary.date|date('d m Y') }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}