{% extends 'admin/common/base.html.twig' %}

{% block title %}
   Catégories
{% endblock %}

{% block body %}
   <div>
      {% for category in categories %}
         <div>
            <p>{{ category.name }}</p>
            <div>
               <img class="imgResp" src="{{ asset('uploads/pictures/'~category.picture) }}" alt="" title="">
            </div>
            <p>{{ category.wording }}</p>
            <div><a class="btnUpdate" href="{{ path('admin_update_category', {'id':category.id}) }}">Modifier</a></div>
            <div><a class="btnDelete" href="{{ path('admin_delete_category', {'id':category.id}) }}">Supprimer</a></div>
         </div>
      {% endfor %}
   </div>
{% endblock %}