{% extends 'admin/pages/protocol.html.twig' %}


{% block body %}

    <section class="displayFlexCenter">
        <div class="container">
            <h2 class="insertArticleTitle textCenter">Modifier le protocole</h2>
            <div>
                {{ form_start(formProtocol) }}
                <div>
                    <div>
                        <div>
                            <p class="label">{{ form_label(formProtocol.picture) }}</p>
                        </div>
                        <div>
                            {{ form_widget(formProtocol.picture) }}
                        </div>
                        <div>
                            {{ form_errors(formProtocol.picture)}}
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="label">{{ form_label(formProtocol.wording) }}</p>
                        </div>
                        <div class="widgetContent">
                            {{ form_widget(formProtocol.wording) }}
                        </div>
                        <div>
                            {{ form_errors(formProtocol.wording)}}
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="label">{{ form_label(formProtocol.submit) }}</p>
                        </div>
                        <div class="submit">
                            {{ form_widget(formProtocol.submit, {'attr':{'class':'btn1'}}) }}
                        </div>
                    </div>
                </div>
                {{ form_end(formProtocol) }}
            </div>
        </div>
    </section>

{% endblock %}
