{% extends 'admin/common/base.html.twig' %}

{% block title %}
    Articles
{% endblock %}

{% block body %}
    <div>
        <form name="search" action="{{ path('admin_search_article') }}" method="get">
            <input type="search" name="search">
            <input type="submit" value="Rechercher">
        </form>
    </div>
    <div>
        {% for article in articles %}
        <div>
            <h2>{{ article.title }}</h2>
        </div>
        <div>
            <span>{{ article.date|date('d m Y') }}</span>
        </div>
        <div>
            <span>{{ article.user.firstname }} {{ article.user.name}}</span>
        </div>
        <div>
            <p>{{ article.content }}</p>
        </div>
        <div>
            {% if article.picture %}
                <img src="{{ asset('uploads/pictures/' ~ article.picture) }}" alt="">
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}