{% extends 'admin/common/base.html.twig' %}

{% block title %}
    Ajout d'article
{% endblock %}

{% block body %}

    <section class="displayFlexCenter">
        <div class="container">
            <h2 class="insertArticleTitle textCenter">Créer un nouvel article</h2>
            <div>
                {{ form_start(formArticle) }}
                <div>
                    <div>
                        <div>
                            <p class="label">{{ form_label(formArticle.title) }}</p>
                        </div>
                        <div class="widgetTitle">
                            {{ form_widget(formArticle.title) }}
                        </div>
                        <div>
                            {{ form_errors(formArticle.title)}}
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="label">{{ form_label(formArticle.subtitles) }}</p>
                        </div>
                        <div class="widgetSub">
                            {{ form_widget(formArticle.subtitles) }}
                        </div>
                        <div>
                            {{ form_errors(formArticle.subtitles)}}
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="label">{{ form_label(formArticle.content) }}</p>
                        </div>
                        <div class="widgetContent">
                            {{ form_widget(formArticle.content) }}
                        </div>
                        <div>
                            {{ form_errors(formArticle.content)}}
                        </div>
                    </div>
                    {% set required = 'required' %}
                    <div>
                        <div>
                            <p class="label">{{ form_label(formArticle.picture) }}</p>
                        </div>
                        <div>
                            {{ form_widget(formArticle.picture, {'attr':{'required':'required'}})}}
                        </div>
                        <div>
                            {{ form_errors(formArticle.picture)}}
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="label">{{ form_label(formArticle.altpicture) }}</p>
                        </div>
                        <div>
                            {{ form_widget(formArticle.altpicture) }}
                        </div>
                        <div>
                            {{ form_errors(formArticle.altpicture)}}
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="label">{{ form_label(formArticle.titlepicture) }}</p>
                        </div>
                        <div>
                            {{ form_widget(formArticle.titlepicture) }}
                        </div>
                        <div>
                            {{ form_errors(formArticle.titlepicture)}}
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="label">{{ form_label(formArticle.submit) }}</p>
                        </div>
                        <div class="submit">
                            {{ form_widget(formArticle.submit, {'attr':{'class':'btn1'}}) }}
                        </div>
                    </div>
                </div>
                {{ form_end(formArticle) }}
            </div>
        </div>
    </section>
{% endblock %}