{% extends ('front/common/base.html.twig') %}

{% block title %}
{% endblock %}

{% block body%}    <main>
    <div class="displayFlexCenter">
        <div class="container">
            <div>
                <h2 class="articleTitle textCenter">{{ category.name }}</h2>
                <div>
                    <div class="articleImg bDesktop6 desktop6 lDesktop6 bTablet6 tablet12 phone12">
                        <div class="articleImgDiv">
                            <img class="imgResp" src="{{ asset('uploads/pictures/'~category.picture) }}" alt="{{ category.altpicture }}" title="{{ category.titlepicture }}">
                        </div>
                    </div>
                    <div class="textJustify">
                        <p>{{ category.wording | raw}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}