{% extends 'admin/common/base.html.twig' %}

{% block title %}
    Ajout des prix
{% endblock %}

{% block body %}
    <section class="displayFlexCenter">
        <div class="container">
            <h2 class="insertArticleTitle textCenter">Créer un nouveau prix</h2>
            <div>
                {{ form_start(formPrice) }}
                <div>
                    <div>
                        <div>
                            <p class="label">{{ form_label(formPrice.value) }}</p>
                        </div>
                        <div class="widgetTitle">
                            {{ form_widget(formPrice.value) }}
                        </div>
                        <div>
                            {{ form_errors(formPrice.value)}}
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="label">{{ form_label(formPrice.submit) }}</p>
                        </div>
                        <div class="submit">
                            {{ form_widget(formPrice.submit, {'attr':{'class':'btn1'}}) }}
                        </div>
                    </div>
                </div>
                {{ form_end(formPrice) }}
            </div>
        </div>
    </section>
{% endblock %}