{% extends 'admin/common/base.html.twig' %}

{% block body %}

    <div class="displayFlexCenter">
        <div class="container">
            <div>
                <div>
                    <h2 class="articleTitle">{{ commentary.article.title }}</h2>
                </div>
                <div class="displayFlexCenter">
                    <div>
                        <div>
                            <p>{{ commentary.comment }}</p>
                        </div>
                        <div>
                            <p>Nom : {{ commentary.user.firstname }} {{ commentary.user.name}}</p>
                        </div>
                        <div>
                            <p>Date : {{ commentary.date|date('d m Y') }}</p>
                        </div>
                        <div>
                            <p>Email : {{ commentary.user.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menuCrud displayFlex">
                <div>
                    <p class="update"><a href="{{ path('admin_update_commentary', {'id':commentary.id}) }}">Modifier</a></p>
                </div>
                <div>
                    <p class="delete"><a href="{{ path('admin_delete_commentary', {'id':commentary.id}) }}">Supprimer</a></p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}