<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/front/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ asset('src/js/app.js') }}"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="body">
        <header class="header xLarge-12">
            <div class="container">
                <div class="xLarge-12 headerList">
                    <div class="xLarge-2">
                        <div class="logo">
                            <a href="{{ path('home') }}"> <img class="imgresp" src="{{ asset('uploads/pictures/whiteLogo3.png') }}" alt=""></a>
                        </div>
                    </div>
                    <div class="xLarge-10">
                        <nav>
                            <ul class="headerContact">
                                <li><a>06 28 54 22 31</a></li>
                                <li class="yellowTitle"><a target="_blank" href="https://www.doctolib.fr/pedicure-podologue/poissy/gary-leymarie?fbclid=IwAR08MKktbbNWJqiuJEVl89xJ5sW64oEZSBh5FmOe3bK7eYIS932Gxi5bMwY">Prendre rendez-vous</a></li>
                                <li class="homeLocalisation"><a target="_blank" href="https://www.google.fr/maps/place/6+Rue+du+Petit+March%C3%A9,+78300+Poissy/@48.9298665,2.0371226,17z/data=!3m1!4b1!4m5!3m4!1s0x47e68969024b6509:0x12f864687f2a1d70!8m2!3d48.9298665!4d2.0393113">Localisation</a></li>
                            </ul>
                        </nav>
                        <nav>
                            <ul class="headerInfos">
                                <li><a class="btnHeaderLogin {% if app.request.get('_route') == 'articles' %}currentPath{% endif %}" href="{{ path('articles') }}">Articles</a></li>
                                <li><a class="btnHeaderLogin {% if app.request.get('_route') == 'protocol' %}currentPath{% endif %}" href="{{ path('protocol') }}">Protocole</a></li>
                                <li><a class="btnHeaderLogin {% if app.request.get('_route') == 'technique' %}currentPath{% endif %}" href="{{ path('technique') }}">Technique</a></li>
                                <li><a class="btnHeaderLogin {% if app.request.get('_route') == 'healthcare' %}currentPath{% endif %}" href="{{ path('healthcare') }}">Soins</a></li>
                                <li>{% if app.user %}<a class="btnHeaderLogin" href="{{ path('app_logout') }}">Logout</a> {% else %} <a class="btnHeaderLogin {% if app.request.get('_route') == 'app_login' %}currentPath{% endif %}" href="{{ path('app_login') }}">Login</a> {% endif %}</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    <footer class="footer xLarge-12 test">
        <div class="container">
            <div class="footerContent xLarge-12">
                <div class="xLarge-3 textcenter">
                    <div class="centerFooterLogo">
                        <div class="logoFooter">
                            <img class="imgresp" src="{{ asset('uploads/pictures/whiteLogo3.png') }}" alt="">
                        </div>
                    </div>
                    <div class="resumeGary">
                        <p>Gary Leymarie</p>
                        <p>6 rue du Petit Marché</p>
                        <p>78 300 POISSY</p>
                    </div>
                </div>
                <div class="xLarge-3">
                    <div class="mapsLogoFlex">
                        <div class="mapsLogo">
                            <img class="imgresp yellowBorder" src="{{ asset('uploads/pictures/maps.jpg') }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="xLarge-3">
                    <nav>
                        <ul class="footerList">
                            <li><a>06 28 54 22 31</a></li>
                            <li><a>RDV</a></li>
                            <li><a>Localisation</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </footer>



        <script src="{{ asset('src/js/app.js') }}"></script>
    </body>
</html>
