{% extends 'front/common/base.html.twig' %}

{% block title %}
    Enregistrement
{% endblock %}

{% block body %}
    <div class="centerSignin">
        <div class="xLarge-3 formTotalSignin">
            <div class="logoSignin">
                <div class="xLarge-5">
                    <img class="imgresp" src="{{ asset('uploads/pictures/yellowLogo3.png') }}" alt="">
                </div>
            </div>
            <h1 class="signinTitle">S'enregistrer</h1>
            <div class="centerSigninText">
                {{ form_start(formUser) }}
                <div>
                    <div class="textSignin">
                        <div>
                            {{ form_label(formUser.email) }}
                        </div>
                        <div>
                            {{ form_widget(formUser.email) }}
                        </div>
                        <div>
                            {{ form_errors(formUser.email) }}
                        </div>
                    </div>
                    <div class="textSignin">
                        <div>
                            {{ form_label(formUser.firstname) }}
                        </div>
                        <div>
                            {{ form_widget(formUser.firstname) }}
                        </div>
                        <div>
                            {{ form_errors(formUser.firstname) }}
                        </div>
                    </div>
                    <div class="textSignin">
                        <div>
                            {{ form_label(formUser.name) }}
                        </div>
                        <div>
                            {{ form_widget(formUser.name) }}
                        </div>
                        <div>
                            {{ form_errors(formUser.name) }}
                        </div>
                    </div>
                    <div class="textSignin">
                        <div>
                            {{ form_label(formUser.phone) }}
                        </div>
                        <div>
                            {{ form_widget(formUser.phone) }}
                        </div>
                        <div>
                            {{ form_errors(formUser.phone) }}
                        </div>
                    </div>
                    <div class="textSignin">
                        <div>
                            {{ form_label(formUser.password) }}
                        </div>
                        <div>
                            {{ form_widget(formUser.password) }}
                        </div>
                        <div>
                            {{ form_errors(formUser.password) }}
                        </div>
                    </div>
                    <div class="submitBtnSignin">
                        <div class="textSignin">
                            <div>
                                {{ form_label(formUser.submit) }}
                            </div>
                            <div>
                                {{ form_widget(formUser.submit) }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(formUser) }}
            </div>
        </div>
    </div>
{% endblock %}