{% extends 'front/common/base.html.twig' %}

{% block title %}
    Enregistrement
{% endblock %}

{% block body %}

    <section class="signinSection">
        <div class="container signinForm displayFlex">
            <div class="signinFormBorder xLarge-4 large-4 medium-12 small-12">
                <div>
                    <div>
                        <h1 class="signinTitle">S'enregistrer</h1>
                    </div>
                    <div class="displayFlex signinFormLogo">
                        <div class="xLarge-4 large-4 medium-6 small-6">
                            <img class="imgResp" src="{{ asset('uploads/pictures/yellowLogo3.png') }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="signinFormCenter">
                    {{ form_start(formUser) }}
                    <div class="signinFormFields">
                        <div>
                            {{ form_widget(formUser.email) }}
                        </div>
                        <div>
                            {{ form_errors(formUser.email) }}
                        </div>
                    </div>
                    <div class="signinFormFields">
                        <div>
                            {{ form_widget(formUser.firstname) }}
                        </div>
                        <div>
                            {{ form_errors(formUser.firstname) }}
                        </div>
                    </div>
                    <div class="signinFormFields">
                        <div>
                            {{ form_widget(formUser.name) }}
                        </div>
                        <div>
                            {{ form_errors(formUser.name) }}
                        </div>
                    </div>
                    <div class="signinFormFields">
                        <div>
                            {{ form_widget(formUser.phone) }}
                        </div>
                        <div>
                            {{ form_errors(formUser.phone) }}
                        </div>
                    </div>
                    <div class="signinFormFields">
                        <div>
                            {{ form_widget(formUser.password) }}
                        </div>
                        <div>
                            {{ form_errors(formUser.password) }}
                        </div>
                    </div>
                    <div class="displayFlex signinFormBtn">
                        <div>
                            {{ form_label(formUser.submit) }}
                        </div>
                        <div>
                            {{ form_widget(formUser.submit, {'attr' : {'class' : 'btn1'}}) }}
                        </div>
                    </div>
                    {{ form_end(formUser) }}
                </div>

            </div>
        </div>
    </section>
{% endblock %}