{% extends 'front/common/base.html.twig' %}

{% block title %}
    Enregistrement
{% endblock %}

{% block body %}

    <section class="signinSection displayFlexCenter">
        <div class="container displayFlexCenter">
            <div class="signinFormBorder">
                <div>
                    <h1 class="signinTitle">S'enregistrer</h1>
                </div>
                <div class="displayFlexCenter">
                    <div class="signinFormLogo">
                        <div>
                            <img class="imgResp" src="{{ asset('uploads/pictures/yellowLogo3.png') }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="signinFormCenter">
                    {{ form_start(formUser) }}
                    <div class="signinFormFields">
                        <div>
                            {{ form_widget(formUser.email) }}
                        </div>
                        <div>
                            {{ form_errors(formUser.email) }}
                        </div>
                    </div>
                    <div class="signinFormFields">
                        <div>
                            {{ form_widget(formUser.firstname) }}
                        </div>
                        <div>
                            {{ form_errors(formUser.firstname) }}
                        </div>
                    </div>
                    <div class="signinFormFields">
                        <div>
                            {{ form_widget(formUser.name) }}
                        </div>
                        <div>
                            {{ form_errors(formUser.name) }}
                        </div>
                    </div>
                    <div class="signinFormFields">
                        <div>
                            {{ form_widget(formUser.phone) }}
                        </div>
                        <div>
                            {{ form_errors(formUser.phone) }}
                        </div>
                    </div>
                    <div class="signinFormFields">
                        <div>
                            {{ form_widget(formUser.password.first) }}
                        </div>
                    </div>
                    <div class="signinFormFields">
                        <div>
                            {{ form_widget(formUser.password.second) }}
                        </div>
                        <div>
                            {{ form_errors(formUser.password.second) }}
                        </div>
                    </div>
                    <div class="displayFlexCenter">
                        <div class="errorPassword">
                            {{ form_errors(formUser.password.first) }}
                        </div>
                    </div>
                    <div class="displayFlex signinFormBtn">
                        <div>
                            {{ form_label(formUser.submit) }}
                        </div>
                        <div>
                            {{ form_widget(formUser.submit, {'attr' : {'class' : 'btn1'}}) }}
                        </div>
                    </div>
                    {{ form_end(formUser) }}
                </div>

            </div>
        </div>
    </section>
{% endblock %}